@keyframes pageShow {
  0% { top: 20vh}
  100% { top: 0}
}

.contentPage {
  width: 100vw;
  height: 100vh;
  background-color: rgba(black, .6);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;

  .contentForm {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 80vw;
    height: 80vh;
    background-color: white;
    border-radius: 1vw;
    box-shadow: 0 0 4vw 0 rgba(black, .5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: pageShow .2s linear forwards;

    .contentFormLeft{
      border-radius: 1vw;
      box-shadow: 0 0 2px 0  rgba(black,.4);
    }

    .contentFormInner {
      width: 47%;
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-size: cover;

      .contentName{
        font-size: 3vw;
        font-weight: 700;
      }
      .contentFormBtnBox {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        height: 15%;

        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 6vw;
          height: 5vh;
          border-radius: .5vw;
          color: white;
          cursor: pointer;
          transition: .2s;
          font-size: 1.1vw;
          font-weight: 700;

          &.btnCart {
            background-color: #087DFF;
          }

          &.btnCancel {
            background-color: #FC5230;
          }

          &:hover {
            opacity: .8;
          }
        }
      }
    }
  }
}